<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1074719227893-rn2qbb88uhg78jui07vun0a616a1gu4l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1074719227893-rn2qbb88uhg78jui07vun0a616a1gu4l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1074719227893-aubdo82o9m1i99d9c253oln7mprpuoc7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC7lsF_IZz_N4yPIOpH4FQ5ULLDj21zyyY</string>
	<key>GCM_SENDER_ID</key>
	<string>1074719227893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sunshineHolidayPackages</string>
	<key>PROJECT_ID</key>
	<string>safarsetu-1bcab</string>
	<key>STORAGE_BUCKET</key>
	<string>safarsetu-1bcab.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074719227893:ios:6246f39d8e65749c9e2abc</string>
</dict>
</plist>